    *{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0 ;
        
        }
/*         
######################################## CHALLENGE 1 #################################### */
.contain{
            background: rgb(238,174,202);
            background: radial-gradient(linear, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
            
        }
    .challenge1{
        border:4px black solid ;
        width: 1000px;
        margin: auto;
    }
    .c1_Btn{
        border: 2px solid hotpink;
        padding: 10px;
    }
.c1_Btn button{
   
    margin-left: 10px;
    justify-content: center;

}
   /* button{
       border: 2px darkcyan solid ;
       padding: 10px 40px;
       margin: 0 20px 0 20px;
       padding: 10px 40px;
       font-weight: bold;
       background-color: salmon ;
       border-radius: 8px;
       
   } */
       /*  ######################################## CHALLENGE 2 #################################### */

.challenge2{
    border:4px black solid ;
    width: 1000px;
    margin: auto;
}

.flex-box-c2 {
    display: flex;
    border: 2px solid steelblue;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.flex-box-c2 img{
    
    margin: 20px;
    margin-top: 10px;
    box-shadow: 0 10px 50px -6px black;

}


/*  ######################################## CHALLENGE 3 #################################### */

.challenge-3{
    border:4px black solid ;
    width: 1000px;
    margin: auto;
}

.rps-imgs{
    display: flex;
    border: 2px solid steelblue;
    flex-wrap: wrap;
   
    justify-content: center;
    
}

.rps-imgs img{
    display: flex;
    order: 5;
    justify-content: center;
    padding: 0 90px;
    margin-left: 20px;
}
.rps-imgs img:hover{
    box-shadow: 0 10px 50px rgb(195, 0, 255);
    
}

/*  ######################################## CHALLENGE 4 #################################### */ 
.challenge-4{
    border:4px black solid ;
    width: 1000px;
    margin: auto;
}
.flexBox-pickColor{
    display: flex;
    border: 2px solid steelblue;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}
.flexBox-pickColor button{
    margin-left: 90px ;
}



